.cdContainer {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
}

.cdItem {
    margin: 5px;
    flex-grow: 1;
}

.cdPadding {
    padding: 20px;
}


.cdRow {
    display: flex;
    margin: 10px 0px;
    justify-content: center;
}

.cdBorder {
    border: 2px solid;
    border-radius: 20px;
}

.cdHeading {
    text-align: center;
    font-size: x-large;
    font-variant-caps: all-petite-caps;
}

.cdInputGroup {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    width: auto;
    width: 100%;
    flex-grow: 1;
    margin: 10px;
}

.cdInputText {
    display: flex;
    align-items: center;
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: center;
    white-space: nowrap;
    background-color: #e9ecef;
    border: 1px solid #ced4da;
    border-radius: .25rem;
}

.cdInputInput {
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: .25rem;
    transition: .15s ease-in-out, box-shadow .15s ease-in-out;
}

.cdInputInput:focus {
    color: #212529;
    background-color: #fff;
    border-color: #86b7fe;
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, .25);
}

.cdInputGroup>.cdInputInput {
    position: relative;
    flex: 1 1 auto;
    width: 1%;
    min-width: 0;
}

.cdButton {
    font-variant-caps: all-petite-caps;
    color: #fff;
    border-color: #0d6efd;
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    background-color: #0d6efd;
    border: 1px solid;
    padding: 10px 30px;
    font-size: 1rem;
    border-radius: 10px;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.cdButton:hover {
    color: #0d6efd;
    background-color: transparent;
    border-color: #0d6efd
}

.cdDropdown {
    position: relative;
    display: inline-block;
}

.cdDropdown-content {
    position: absolute;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 98;
    max-height: 0;
    min-width: 160px;
    transition: max-height 0.15s ease-out;
    overflow: hidden;
    border-radius: 10px;
}

.cdDropdown-content a {
    color: black;
    background-color: #f9f9f9;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.cdDropdown-content a:hover {
    background-color: #72727235;
}

.cdDropdown:hover .cdDropdown-content {
    max-height: 500px;
    min-width: 160px;
    transition: max-height 0.25s ease-in;
}

.cdDropdown:hover .cdButton {
    background-color: #f9f9f9;
    color: #0d6efd;
    border-bottom: 1px solid #e0e0e0;
    transition: max-height 0.25s ease-in;
}

.cdTable-bordered {
    border: 1px solid;
    width: 100%;
}

.cdTable-bordered,
th,
td {
    text-align: center;
    padding: 10px;
    border: 1px solid black;
    border-collapse: collapse;
    border-radius: 10px;
}

.cdCenter {
    justify-content: center;
}

.cdCheckBox {
    transform: scale(2);
}